* {
  font-family: "Inter", sans-serif;  
  overscroll-behavior-x: none;
  overflow-x: hidden;  
  
}

.forgot-password-container {     
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
} 
.logo-container {
  display: flex;
  justify-content: center;
}

.logo-circle {
  width: 60px;
  height: 60px;
  background-color: #eef2ff; 
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  display: flex; 
  justify-content: start; 
  margin-left: 10px;

}






.custom-input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}


.container {
  max-width: 1200px;
}


.row {
  min-height: 80vh; 
}


.left-panel1 {
  width: 50%;
  background: url("../Assets/forgotpassword.jpg") no-repeat center center/cover;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.text-overlay {
  color: rgba(0, 0, 139, 0.821);
  padding: 10px 15px;
  border-radius: 5px;
}


.right-panel1 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}


.card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}


.input-group-text {
  background: transparent;
  border: none;
}


@media screen and (max-width: 768px) {
  .left-panel1 {
    display: none !important;
  }

  .right-panel1 {
    width: 100% !important; 
  }

  .col-md-6 {
    width: 100% !important; 
  }
}
