* {
  font-family: "Inter", sans-serif; 
  /* overscroll-behavior-x: none;  */
  overscroll-behavior: none;
  overflow-x: hidden;
   
}.dashboard-container {
  display: flex;
}



@media (max-width: 773px) {
  .sidebar {
    transform: translateX(-100%);
  }
  .sidebar.open {
    transform: translateX(0);
  }
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 250px; 
  transition: margin-left 0.3s ease-in-out;
}

@media (max-width: 773px) {
  .main-content {
    margin-left: 0; 
  }
}

.toggle-btn {
  display: none; 
  position: fixed; 
  top: 10px;
  left: 10px;
  background: #343a40;
  color: white;
  border: none;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  z-index: 1000; /* Ensures it stays on top */
}

@media (max-width: 773px) {
  .toggle-btn {
    display: block; /* Show only on small screens */
  }
}
