
.dashboard-container {
  display: flex;
  min-height: 100vh;
}


.main-content {
  flex-grow: 1;
  padding: 20px;
  transition: margin-left 0.3s ease-in-out;
}


@media (min-width: 774px) {
  .main-content {
    margin-left: 250px;
  }
}


@media (max-width: 773px) {
  .main-content {
    margin-left: 0;
  }
}
